<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ImdbClon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
</head>
<body>
	<section class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="row">
					<div class="col-xs-12 col-md-12 text-center">
						<iframe width="640" height="360" src="https://www.youtube.com/embed/NVw3DnN9WoA" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="https://dummyimage.com/400x300/a19fa1/ffffff&text=gallery" alt="">
					</div>
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="https://dummyimage.com/400x300/a19fa1/ffffff&text=gallery" alt="">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="https://dummyimage.com/400x300/a19fa1/ffffff&text=gallery" alt="">
					</div>
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="https://dummyimage.com/400x300/a19fa1/ffffff&text=gallery" alt="">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<img class="img-responsive" src="https://dummyimage.com/800x300/a19fa1/ffffff&text=gallery" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
</body>