<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ImdbClon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
</head>
<body>
	<section class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="https://dummyimage.com/500x600/a19fa1/ffffff&text=Movie">
					</div>
					<div class="col-xs-12 col-md-6">
						<span>Año</span>
						<h1>Película</h1>
						<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<button>Rating</button><br>
						<label><input type="checkbox" value="">text</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<h4>Awards</h4>
						<img class="img-responsive" src="https://dummyimage.com/500x400/a19fa1/ffffff&text=Movie">
						<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="col-xs-12 col-md-6">
						<h4>Cast</h4>
						<div class="row">
							<div class="col-xs-12 col-md-12">
								<div class="row">
									<div class="col-xs-4 col-md-4">
										<img class="img-responsive" src="https://dummyimage.com/100x100/a19fa1/ffffff&text=actor">
									</div>
									<div class="col-xs-4 col-md-4">
										<img class="img-responsive" src="https://dummyimage.com/100x100/a19fa1/ffffff&text=actor">
									</div>
									<div class="col-xs-4 col-md-4">
										<img class="img-responsive" src="https://dummyimage.com/100x100/a19fa1/ffffff&text=actor">
									</div>
								</div>
								<div class="row" style="margin-top: 1vh">
									<div class="col-xs-4 col-md-4">
										<img class="img-responsive" src="https://dummyimage.com/100x100/a19fa1/ffffff&text=actor">
									</div>
									<div class="col-xs-4 col-md-4">
										<img class="img-responsive" src="https://dummyimage.com/100x100/a19fa1/ffffff&text=actor">
									</div>
									<div class="col-xs-4 col-md-4">
										<img class="img-responsive" src="https://dummyimage.com/100x100/a19fa1/ffffff&text=actor">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<h4>Details</h4>
						<p>Official Sites: <span></span></p>
						<p>Country: <span></span></p>
						<p>Language: <span></span></p>
						<p>Release Data: <span></span></p>
						<p>Also known As: <span></span></p>
						<p>Filming Locations: <span></span></p>
					</div>
					<div class="col-xs-12 col-md-6">
						<h4>Technical Specs</h4>
						<p>Runtime: <span></span></p>
						<p>Sound Mix: <span></span></p>
						<p>Color: <span></span></p>
						<p>Aspect Ratio: <span></span></p>
						<p>See: <span></span></p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<h4>Company Credits</h4>
						<p>Production Co: <span></span></p>
						<p>Show detailed: <span></span></p>
					</div>
					<div class="col-xs-12 col-md-6">
						<h4>Box Office</h4>
						<p>Budget: <span></span></p>
						<p>Opening Weekend: <span></span></p>
						<p>Gross: <span></span></p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<h4>Did you Know?</h4>
						<h6>Trivia</h6>
						<p>
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
						<h6>Goofs</h6>
						<p>
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
						<h6>Quotes</h6>
						<p>
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna
						</p>
						<h6>Crazy Credits</h6>
						<p>
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
						<h6>Connections</h6>
						<p>
							ipsum dolor sit amet, consectetur adipisicing
						</p>
						<h6>Soundtracks</h6>
						<p>
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
					</div>
					<div class="col-xs-12 col-md-6">
						<h4>User review</h4>
						<img class="img-circle" src="https://dummyimage.com/50x50/000/fff"">
						<span>Nombre</span>
						<p>
							"ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna "
						</p>
						<span>Stars</span><span>7/10</span>
						<br>
						<img class="img-circle" src="https://dummyimage.com/50x50/000/fff"">
						<span>Nombre</span>
						<p>
							"ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna "
						</p>
						<span>Stars</span><span>7/10</span>
						<br>
						<img class="img-circle" src="https://dummyimage.com/50x50/000/fff"">
						<span>Nombre</span>
						<p>
							"ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna "
						</p>
						<span>Stars</span><span>7/10</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>