<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ImdbClon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<section class="container" id="movie-info">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="https://dummyimage.com/500x600/a19fa1/ffffff&text=Movie">
					</div>
					<div class="col-xs-12 col-md-6">
						<span class="movie--year">Año</span>
						<h1 class="movie--title">Interstellar</h1>
						<p class="movie--paragraph">ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br>
						<div class="row">
							<div class="col-xs-12 col-md-12">
								<div class="col-xs-12 col-sm-12  col-md-4 text-center">
									<div class="flex-direction--row">
										<div class="bg-white vertical-paddig left-padding ">
											<img src="src/assets/img/star_icon.png" width="50" height="45">
										</div>
										<div class="bg-white vertical-paddig">
											<p class="yellow-text-regular">8.6</p>
										</div>
										<div class="bg-yellow vertical-paddig right-padding">
											<img src="src/assets/img/like_icon.png" width="50" height="45">
										</div>
									</div>
									<label class="label--color"><input type="checkbox" value="">top<span>:</span></label><span class="label--span__color">#__</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- movie-info section ending-->
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<h4 class="awards--title">Awards</h4>
					<img class="img-responsive" src="https://dummyimage.com/500x400/a19fa1/ffffff&text=Movie">
					<p class="awards--paragraph"> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
					<p class="awards--see-more">See more awards</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="col-xs-12 col-md-12">
						<div class="row">	
							<h4 class="awards--title">Cast</h4>
							<div class="col-xs-4 col-md-4">
								<img class="img-responsive" src="https://dummyimage.com/100x100/a19fa1/ffffff&text=actor">
							</div>
							<div class="col-xs-4 col-md-4">
								<img class="img-responsive" src="https://dummyimage.com/100x100/a19fa1/ffffff&text=actor">
							</div>
							<div class="col-xs-4 col-md-4">
								<img class="img-responsive" src="https://dummyimage.com/100x100/a19fa1/ffffff&text=actor">
							</div>
						</div>
						<div class="row" style="margin-top: 1vh">
							<div class="col-xs-4 col-md-4">
								<img class="img-responsive" src="https://dummyimage.com/100x100/a19fa1/ffffff&text=actor">
							</div>
							<div class="col-xs-4 col-md-4">
								<img class="img-responsive" src="https://dummyimage.com/100x100/a19fa1/ffffff&text=actor">
							</div>
							<div class="col-xs-4 col-md-4">
								<img class="img-responsive" src="https://dummyimage.com/100x100/a19fa1/ffffff&text=actor">
							</div>
							<p class="awards--see-more2">See more awards</p>
						</div>
					</div>
				</div>
			</div>	
			<!--movie-info section awards ending-->

			<!--movie-info section details starting-->
			<div class="row" id="#details">
				<div class="col-xs-12 col-md-6">
					<h2 class="details--colorText">Details</h2>
					<p class="detail-p">Official Sites: <span>Content</span></p>
					<p class="detail-p">Country: <span>Content</span></p>
					<p class="detail-p">Language: <span>Content</span></p>
					<p class="detail-p">Release Data: <span>Content</span></p>
					<p class="detail-p">Also known As: <span>Content</span></p>
					<p class="detail-p">Filming Locations: <span>Content</span></p>
				</div>
				<div class="col-xs-12 col-md-6">
					<h2 class="details--colorText">Technical Specs</h2>
					<p class="detail-p">Runtime: <span>Content</span></p>
					<p class="detail-p">Sound Mix: <span>Content</span></p>
					<p class="detail-p">Color: <span></span>Content</p>
					<p class="detail-p">Aspect Ratio: <span>Content</span></p>
					<p class="detail-p">See: <span>Content</span></p>
				</div>
			</div>
			<div class="row">
					<div class="col-xs-12 col-md-6">
						<h2 class="details--colorText">Company Credits</h2>
						<p class="detail-p">Production Co: <span>Content</span></p>
						<p class="detail-p">Show detailed: <span>Content</span></p>
					</div>
					<div class="col-xs-12 col-md-6">
						<h2 class="details--colorText">Box Office</h2>
						<p class="detail-p">Budget: <span>Content</span></p>
						<p class="detail-p">Opening Weekend: <span>Content</span></p>
						<p class="detail-p">Gross: <span>Content</span></p>
					</div>
			</div>
			<!--movie reviews-->
			<div class="row reviews">
					<div class="col-xs-12 col-md-6">
						<h2 class="review--title">Did you Know?</h2>
						<h6 class="review--title__subtitulo">Trivia</h6>
						<p>
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p><span>See more</span>
						<h6 class="review--title__subtitulo">Goofs</h6>
						<p>
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p><span>See more</span>
						<h6 class="review--title__subtitulo">Quotes</h6>
						<p>
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna
						</p><span>See more</span>
						<h6 class="review--title__subtitulo">Crazy Credits</h6>
						<p>
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
						<h6 class="review--title__subtitulo">Connections</h6>
						<p>
							ipsum dolor sit amet, consectetur adipisicing
						</p><span>See more</span>
						<h6 class="review--title__subtitulo">Soundtracks</h6>
						<p>
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p><span>See more</span>
					</div>
					<div class="col-xs-12 col-md-6">
						<h2 class="review--title">User review</h2>
						<img class="img-circle" src="https://dummyimage.com/50x50/000/fff">
						<p>Nombre</p>
						<p>
							"ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna "
						</p>
						<p>Stars</p><span>7/10</span>
						<br>
						<img class="img-circle" src="https://dummyimage.com/50x50/000/fff">
						<p>Nombre</p>
						<p>
							"ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna "
						</p>
						<p>Stars</p><span>7/10</span>
						<br>
						<img class="img-circle" src="https://dummyimage.com/50x50/000/fff">
						<p>Nombre</p>
						<p>
							"ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna "
						</p>
						<p>Stars</p><span>7/10</span>
					</div>
				</div>

		  </div>
		</div>
	</section>
</body>
</html>