<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ImdbClon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
        <section class="container" id="movie-search">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-xs-2 col-md-2 lg-2">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </div>
                            <div class="col-xs-2 col-md-4 lg-8">
                                    <input type="text" class="form-control" placeholder="Star Wars"> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-4 lg-8">
                                    <p class="search--name">Nombre de la Película</p> 
                            </div>
                            <div class="col-xs-2 col-md-2 lg-2">
                                    <img class="img-responsive peli" src="https://dummyimage.com/100x100/a19fa1/ffffff&text=actor">
                            </div>  
                        </div>
                    </div>
                 </div>
                    <div class="col-md-2"></div>
        </section>
</body>
</html>