body {
  background-color: #251A1A;
  height: 100%;
  padding-top: 10px; }

.cast--title {
  position: relative;
  top: 10vh;
  padding-left: 25vh;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding-top: 2vh 0 2vh;
  z-index: 1; }

.cast--name {
  color: #EED850;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 40px; }

.cast--paragraph {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 100; }

.cast--title__right {
  position: relative;
  top: 10vh;
  padding-left: -15vh;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding-top: 2vh 0 2vh;
  z-index: 1; }

#movie-info {
  background-color: #251A1A;
  height: 100%;
  padding-top: 150px; }

.movie--year {
  color: rgba(255, 255, 255, 0.51); }

.movie--title {
  color: #ffffff;
  font-family: "Roboto", sans-serif; }

.movie--paragraph {
  color: rgba(255, 255, 255, 0.51);
  font-family: "Roboto", sans-serif; }

.label--color {
  color: #ffffff; }

.label--span__color {
  color: #EED850; }

.awards--title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-top: 50px; }

.awards--paragraph {
  color: #ffffff;
  font-family: "Roboto", sans-serif; }

.awards--see-more {
  color: #EED850;
  font-family: "Roboto", sans-serif; }

.awards--see-more2 {
  color: #EED850;
  font-family: "Roboto", sans-serif;
  margin-top: 237px; }

.details--colorText {
  color: #ffffff;
  font-family: "Roboto", sans-serif; }

.detail-p {
  color: #ffffff;
  font-family: "Roboto", sans-serif; }

.detail-p span {
  color: #EED850;
  font-family: "Roboto", sans-serif; }

.review--title {
  color: #ffffff;
  font-family: "Roboto", sans-serif; }

.review--title__subtitulo {
  font-weight: 700;
  color: #ffffff; }

.reviews p {
  color: #ffffff;
  font-family: "Roboto", sans-serif; }

.reviews span {
  color: #EED850;
  font-family: "Roboto", sans-serif; }

.form-control {
  width: 500px;
  align-self: stretch center;
  margin-top: 100px; }

.glyphicon-search {
  padding-left: 100px;
  margin-top: 100px; }

.peli {
  margin-top: 50px;
  margin-left: 260px; }

.search--name {
  margin-left: 130px;
  margin-top: 50px;
  color: #ffffff;
  width: 400px; }

@media (min-width: 320px) and (max-width: 480px) {
  .form-control {
    width: 300px;
    align-self: stretch center;
    margin-top: 100px; }

  .glyphicon-search {
    padding-left: 10px;
    margin-top: 100px;
    color: white; }

  .peli {
    margin-top: 50px;
    margin-left: 255px; }

  .search--name {
    margin-left: 70px;
    margin-top: 50px;
    font-size: 10px;
    color: #ffffff; } }
body, html {
  height: 100%; }

.bottom {
  margin-bottom: 0; }

.flex-direction-col {
  display: flex;
  flex-direction: column; }

.flex-direction--row {
  display: flex;
  flex-direction: row; }

.bg-img {
  background-image: url("../img/interstellar1280x800.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }
  .bg-img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.51); }

a i {
  padding-top: 4vh;
  color: rgba(255, 255, 255, 0.51); }
  a i:hover {
    color: #EED850; }

.yellow-text-regular {
  color: #EED850;
  font-weight: 400; }

.block-height-small {
  margin-top: 5vh; }

.block-height-medium {
  margin-top: 15vh; }

.block-height-large {
  margin-top: 25vh; }

.margin {
  margin: 2vh;
  padding: 0; }

.padding {
  padding: 2vh; }

.vertical-paddig {
  padding: 2vh 0 2vh; }

.left-padding {
  padding-left: 2vh; }

.right-padding {
  padding-right: 2vh; }

.font-white {
  color: #ffffff; }

.bg-white {
  background-color: #ffffff; }

.bg-yellow {
  background-color: #EED850; }

.header {
  color: #ffffff !important;
  font-weight: 300;
  font-size: 4rem;
  margin-top: 0px !important;
  margin-bottom: 15vh; }

.bg-img-gallery {
  background-image: url("../img/interstellar.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2; }

.bg-transparency {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  background: rgba(0, 0, 0, 0.23);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.23) 0%, rgba(19, 19, 19, 0.73) 54%, #131313 84%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.23)), color-stop(54%, rgba(19, 19, 19, 0.73)), color-stop(84%, #131313));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.23) 0%, rgba(19, 19, 19, 0.73) 54%, #131313 84%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.23) 0%, rgba(19, 19, 19, 0.73) 54%, #131313 84%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.23) 0%, rgba(19, 19, 19, 0.73) 54%, #131313 84%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.23) 0%, rgba(19, 19, 19, 0.73) 54%, #131313 84%); }

.hr-light {
  width: 90%;
  border-color: rgba(255, 255, 255, 0.51);
  margin-top: 5vh; }

.img-margin {
  margin-bottom: 5vh; }

.img-margin-large {
  margin-bottom: 25vh; }

.img-index-small {
  position: absolute;
  margin-left: 85%;
  margin-top: 30%;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  text-shadow: 0 0 55px black, 0 1px 0 rgba(0, 0, 0, 0.25); }

.img-index-large {
  position: absolute;
  margin-left: 93%;
  margin-top: 25%;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  text-shadow: 0 0 55px black, 0 1px 0 rgba(0, 0, 0, 0.25); }

/*# sourceMappingURL=main.css.map */
