//colors
$brand-primary-color: #EED850;
$brand-secondary-color: #ffffff;
$transparency-light: rgba(255, 255, 255, 0.51);
$transparency-dark: rgba(0, 0, 0, 0.51);

//fonts
$brand-font: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

//margins
$margin-top-small: 5vh;
$margin-top-medium: 15vh;
$margin-top-large: 25vh;

//paddings
$padding-left-right: 2vh;
$padding-top-bottom: 2vh 0 2vh;
